.env
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.python-version
.mypy_cache/
.ruff_cache/
.hypothesis/
.coverage
.coverage.*
htmlcov/
dist/
build/
site/
*.egg-info/
.eggs/
pip-wheel-metadata/
venv/
env/
ENV/
logs/
traces/
config/models.json

dbs/*
sessions/*
